<head><link rel="stylesheet" type="text/css" href="/css/carts.css"></head>
<div class="mainDiv">
    <div id="carts">
        <h1>Carrito</h1>
        <p>Productos:</p>
        <div class="cartCards">
{{#each products}}
    <div class="cartCard">
        <p>{{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>$ {{this.price}}</p>
        <p>Código: {{this.code}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <form id="productos">
            <input type="number" min="1" max="{{this.quantity}}" name="quantity">
            <input type="hidden" name="_id" value="{{this._id}}"/>
            <input type="hidden" name="cid" value="{{this.cid}}"/>
            <input type="hidden" name="oldQuantity" value="{{this.quantity}}"/>
            <button type="submit">Eliminar del carrito</button>
            <br>
        </form>
        </div>
    {{/each}}
        </div>
    

    {{#if products}}
    <button id="buy">Comfirmar compra</button>
    {{else}}
    <h2>Carrito vacio :c</h2>
    {{/if}}
    <button><a href="/products">Ir a productos</a></button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>
