<div>
    <h1>Productos</h1>
    {{#each consulta}}
        <div>
            <h2>Producto: {{this.title}}</h2>
            <p>Descripccion: {{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <img src=${{this.thumbnail}}>
            <p>Codigo: {{this.code}}</p>
            <p>Stock: ${{this.Stock}}</p>
        </div>
    {{/each}}
</div>