<div>
    <h1>Productos con Websockets</h1>
    <div id="productos">
    {{#if user.name}}
    <h2>Bienvenido {{user.name}}</h2><Button><a href="/profile">Ir al perfil</a></Button>
    {{else}}
    <h2>Inicie la sesion para añadir productos al carrito</h2>
    <button><a href="/login">Iniciar</a></button>
    {{/if}}
    {{#each products}}
    <div>
        <form id="{{this._id}}">
            <input type="text" name="tittle">Producto: {{this.title}}</input>
            <br>
            <input type="text" name="description">Descripccion: {{this.description}}</input>
            <br>
            <input type="number" name="price" min="0">Precio: ${{this.price}}</input>
            <br>
            <input type="text" name="code" >Codigo: {{this.code}}</input>
            <br>
            <input type="number" name="stock" min="0">Stock: {{this.stock}}</input>
            <br>
            <button type="submit">Enviar</button>
            <br>
        </form>
    </div>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products/admin?page={{prevPage}}"><button>Anterior</button></a>
    {{/if }}
    {{#if hasNextPage}}
    <a href="/products/admin?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if }}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>